doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='/css/main.css')
        link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        title='Login - Galileo Champions'
    body
        section(class='material-half-bg')
            div(class='cover')
        section(class='login-content')
            div(class='logo')
                h1 Galileo Champions
            div(class='login-box')
                if errors && errors.length
                    .bs-component
                        .alert.alert-dismissible.alert-danger
                            button(class='close', type='button', data-dismiss='alert') x
                            if errors
                                ul
                                    each err in errors
                                        li
                                            strong=err.msg || err

                if error != "" || session.messages
                    .bs-component
                        div(class='alert alert-dismissible alert-danger')
                            button(class='close', type='button', data-dismiss='alert') x
                            strong=error || session.messages
                form(class='login-form', action='/reset-password-link', method='POST', id='forgetPasswordForm')
                    input(type='hidden', name='_csrf', value=csrfToken)
                    h3(class='login-head')
                        i(class='fa fa-lg fa-fw fa-lock')
                        span Reiniciar contraseña
                    div(class='form-group')
                        label(class='control-label') EMAIL
                        input(class='form-control', type='text', placeholder='Email', name='email')
                    div(class='form-group btn-container')
                        button(class='btn btn-primary btn-block') RESETEAR
                            i(class='fa fa-unlock fa-lg fa-fw')

        include /includes/_javascript

        script(type='text/javascript').

            $("#forgetPasswordForm").submit(() => {
                $('#forgetPasswordForm button').attr("disabled", true);
            });

