doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='css/main.css')
        link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        title='Solicitud de reinicio de contraseña - Galileo Champions'
    body
        section(class='material-half-bg')
            div(class='cover')
        section(class='login-content')
            div(class='logo')
                h1 Galileo Champions
            .tile
                h3(class='tile-title') Solicitud de reinicio de contraseña fallido
                .tile-body
                    .bs-component
                        .alert.alert-danger
                            strong Oops, al parecer encontramos unos errores al tratar reiniciar tu contraseña!
                            if error != ""
                                p=error
                            if errors && errors.length
                                each err in errors
                                    ul
                                        li=err.msg || err

        include /includes/_javascript
