doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='css/main.css')
        link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        title='Politica de privacidad - Galileo Champions'
    body
        section(class='material-half-bg')
            div(class='cover')
        section(class='login-content')
            div(class='logo')
                h1 Galileo Champions
            div(class='login-box')
                .row
                    .col-md-2
                    .col-md-8.
                        <br/>
                        <br/>
                        <div id="contenido">
                            <h2>Acerca del programa</h2>
                            <h3>Champion Points</h3>
                            <p style="text-align:justify">
                                Galileo premia tu esfuerzo, dedicación, proactividad y participación en clase. Con Champion points no paras de ganar , imagina poder colectar puntos que puedes canjear al final
                                de un semestre. Estos puntos pueden ser ganados a través de una activa participación en clase y quedan a criterio del catedrático que imparte la clase el poder asignar dichos
                                puntos en la asignación en cuestión, esta participación implica un alto porcentaje de asistencia a las clases y un valor agregado de tu parte cómo puede ser apoyar con material
                                didáctico apoyar con investigaciones extras que pueden ser de utilidad para el resto de tus compañeros apoyar dando sugerencias que puedan hacer de la clase una experiencia
                                gratificante Como por ejemplo sugerir metodologías de enseñanza hasta como radicalmente cambiar la forma en la que una clase puede ser impartida por ejemplo puedes proponerle
                                a tu catedrático que lleven la clase en el formato de scrum esta y muchas ideas más pueden ayudar a que la experiencia en clase mejore día a día y a la vez tú ganas puntos qué
                                pueden ser redimibles al final del semestre</p>
                            <p>
                                <strong> Cada 10 Champion Points representan 1 punto neto</strong>
                            </p>
                            <h3>Galileo Rockstar</h3>
                            <p style="text-align:justify">
                               Galileo Rockstar es un programa que promueve el crecimiento personal de los estudiantes fomentando la creación y vínculos de buenas relaciones interpersonales el mostrar
                               interés y apoyar a estudiantes que se encuentren fuera de tu promoción así como apoyar a auxiliares y catedráticos a mejorar el formato de impartición de clases,
                               si logras crear buenos vínculos personales y profesionales a lo largo de tu trayecto académico tienes la posibilidad de ser nominado y ganar el premio al cual hemos
                               llamado Galileo Rockstar el cual te haría acreedor de 50 Champion Points que pueden ser redimibles en cualquier clase que tú elijas!!!
                            </p>
                            <a class="btn btn-primary" href="/login">Entrar al sistema</a>
                            <br/>
                            <br/>
                        </div>
                    .col-md-2

        include /includes/_javascript