doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='css/main.css')
        link(rel='stylesheet', type='text/css', href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        title='Politica de privacidad - Galileo Champions'
    body
        section(class='material-half-bg')
            div(class='cover')
        section(class='login-content')
            div(class='logo')
                h1 Galileo Champions
            div(class='login-box')
                .row
                    .col-md-2
                    .col-md-8.
                        <br/>
                        <br/>
                        <div id="contenido">
                            <h2>Política de Privacidad</h2>
                            <h3>Introducción</h3>
                            <p style="text-align:justify">
                                Bienvenido a Galileo Champions, la aplicación que permite, fácilmente y desde la comodidad de su celular, realizar consultas de puntos obtenidos
                                 por medio del programa Galileo Champions a los estudiantes de la universidad Galileo. La siguiente política de privacidad especifica cómo Galileo Champions
                                 (“Galileo”, “Nosotros”) recolecta, almacena y usa su información a través de la aplicación Estudiantes Galileo (“La aplicación”).
                                 Al usar esta aplicación, usted confirma que está de acuerdo con que nosotros recolectemos, almacenemos y utilicemos su información según lo aquí estipulado.</p>
                            <h3>La información que recolectamos</h3>
                            <p style="text-align:justify">
                                La aplicación recolecta su dirección de correo electrónico de Google al momento de registrarse y la dirección es asociada a su usuerio.
                                Esto nos permitirá identificarle mientras usa la aplicación. Al conectarse usando su dirección de correo electrónico de Google, nos autoriza a
                                recopilar información de autenticación como nombre de usuario y token encriptado, así como cualquier dato que esté disponible a través de la misma.
                                Esto puede incluir su nombre completo, perfil de Google+, así como información que usted haya hecho pública en este perfil.
                                La aplicación NO recolecta ni tiene acceso a su contraseña. Adicionalmente, la aplicación recolecta datos de los dispositivos que usted utiliza
                                para usar la aplicación (Número de serie, Sistema operativo y versión de software).
                                Así como también otra información cuyos propósitos son enteramente analíticos, técnicos (e.g. para mejorar el servicio) o relacionados a la seguridad de
                                los usuarios. Esta información incluye: dirección IP, operaciones realizadas, fecha y hora de acceso y errores en la aplicación. La aplicación no obtiene
                                información asociada a su ubicación.
                            </p>
                            <h3>Cómo usamos su información</h3>
                            <p style="text-align:justify">
                                La información que recolectamos será usada únicamente con los propósitos de:
                            </p>
                            <ul>
                                <li>Identificarle al momento de usar la aplicación, para asegurar que solamente usted tenga acceso a su información y solamente a la suya.</li>
                                <li>Mejorar y dar mantenimiento al servicio para ofrecerle una mejor experiencia cuando use la aplicación.</li>
                                <li>Comunicarnos con usted para notificarle sobre el acceso a su cuenta o para brindarle información acerca de los trámites que usted inicie a través de la aplicación.</li>
                                <li>Asegurar la seguridad e integridad de la información y el servicio.</li>
                            </ul>
                            <p></p>
                            <h3>Difusión de su información</h3>
                            <p style="text-align:justify">
                                Galileo Champions únicamente revelará la información recolectada u obtenida a través de la aplicación a terceros bajo orden de juez competente.
                            </p>
                            <h3>Seguridad</h3>
                            <p style="text-align:justify">
                                Galileo Champions implementa medidas de seguridad para garantizar la protección y privacidad de su información.
                            </p>
                            <h3>Contáctenos</h3>
                            <p style="text-align:justify">
                                Si tiene cualquier pregunta o inquietud acerca de esta política de privacidad o el servicio que proveemos a través de la aplicación, comuníquese con
                                nosotros a soporteitg@galileo.edu para poder darle seguimiento a sus consultas.
                            </p>
                        </div>
                    .col-md-2

        include /includes/_javascript